<!-- add_student.html -->
{% extends 'base.html' %}

{% block content-header %}
<h2 class="mb-4">Add Students to Batch</h2>
{% endblock content-header %}

{% block content %}
<form method="post" action="{% url 'add_student' batch.id %}">
  {% csrf_token %}
  <input type="text" name="student" id="student" class="form-control"  list="enquiry-list"  autocomplete="off">
  <datalist id="enquiry-list">
    {% for enquiry in stu %}
            <option value="{{ enquiry.student_name }}({{ enquiry.enrol_no }}) {{ enquiry.id }}"></option>
    {% endfor %}
</datalist>

  {{add_student_form}}
  <input type="submit" class="btn btn-primary" value="Add Students">
</form>
<a href="{% url 'batch_detail' batch.id %}" class="btn btn-secondary">Back to Batch Details</a>
<script>
  let elel = document.getElementsByName('batch_students')
  
  let textele = document.getElementById('student')
  for (ele of elel){
    if (ele.checked){
      console.log(ele)
    }
    else{
      ele.parentElement.style.display = 'none'
    }
    
  }
  textele.onchange = () => {
      let getval = textele.value.split(" ")[textele.value.split(" ").length - 1]
      let thele = document.getElementsByName('batch_students')
      for(ele of thele){
        if(ele.value == getval){
          ele.parentElement.style.display = 'block'
        }
      }
  }
  
</script>
{% endblock content %}
